<!DOCTYPE html>
<html>
    <head>
        <title>Parcel Shipping Calculator</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
          <h1>Parcel Shipping Calculator</h1>   
          <form action="/cost" method="post">
              <label for="length">Enter your packages in inches</label>
              <input id="length" name="length" type="number"><br>
              <label for="height">Enter your packages height in inches</label>
              <input id="height" name="height" type="number"><br>
              <label for="width">Enter your packages width in inches</label>
              <input id="width" name="width" type="number"><br>
              <label for="weight">Enter your packages weight in inches</label>
              <input id="weight" name="weight" type="number"><br>
              <button type="submit">Submit</button>
          </form>
        </div>
    </body>
</html>